<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid  p-2">
			<div class="row">
				<p class="text-center fs-3 mt-2">Users</p>
				<hr>
				<a href="/admin/" class="text-decoration-none fs-5"><i
					class="fa-solid fa-arrow-left fs-5"></i> Back</a>
				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold">[[${session.succMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>
				<!--  <div class="col-md-4 p-3">

					<form action="/admin/products" method="get">
						<div class="row">
							<div class="col">
								<input type="text" class="form-control border border-info" name="ch">
							</div>
							<div class="col">
								<button class="btn btn-primary col">Search</button>
							</div>
						</div>
					</form>

				</div>-->


				<!-- <div class="card card-sh">-->
				<div class="p-3">
					<table class=" table table-striped table-hover">
						<thead class="table-primary ">
							<tr>
								<th scope="col">Sr No</th>
								<th scope="col">Profile</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Mobile No</th>
								<th scope="col">Address</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="u,c:${users}">
								<th scope="row">[[${c.count}]]</th>
								<td><img th:src="@{'/img/profile_img/'+${u.profileImage}}"
									width="70px" height="70px"></td>
								<td>[[${u.name}]]</td>
								<td>[[${u.email}]]</td>
								<td>[[${u.mobileNumber}]]</td>
								<td>[[${u.address+','+u.city+','+u.state+','+u.pincode}]]</td>
								<td>[[${u.isEnable}]]</td>
								<td><a th:href="@{'/admin/updateSts?status=true&id='+${u.id}}"
									class="btn btn-sm btn-primary">Active</a> 
										
									<a
									th:href="@{'/admin/updateSts?status=false&id='+${u.id}}"
									class="btn btn-sm btn-danger">
										Inactive</a></td>
							</tr>

						</tbody>
					</table>

				</div>
			</div>
		</div>

	</section>
</body>
</html>